.posts {
    display: grid;
    padding-top: 10px;
}
.post {
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--background-color-light);
}
.postBody {
    margin: 10px 0;
    color: var(--text-color);
}
.postForm {
    width: 1000px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialBox {
    display: flex;
    height: fit-content;
    gap: 10px;
}