.form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.commentWrapper {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 10px;
    border-top: 2px solid var(--primary-color-opacity-30);
    border-left: 2px solid var(--primary-color-opacity-30);
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px 0 0 0;
}
.commentWrapper p {
    color: var(--text-color);
}
.comment {
    width: 100%;
}
.comment h4 {
    color: rgb(80, 21, 104);
}
.comment p {
    margin: 10px 0;
}
.commentBottom {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.commentBottomLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}
.commentBottomLeft p {
    font-size: 13px;

    margin: 0;
}
.anwsers {
    margin-left: 40px;
}