.header {
    background-color: rgb(130, 139, 255);
    height: 75px;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.headerSide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form {
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}