.filters {
    width: 550px;
    background-color: var(--background-color-light);
    box-sizing: border-box;
    border-right: 15px solid var(--primary-color);
}
.filter {
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}
.filter:hover {
    margin-left: 10px;
}
.filter:active {
    background-color: var(--secondary-color);
}
.checkedFilter {
    margin-left: 10px;
    background-color: var(--secondary-color);
}
